/***

====================================================================
    Clients Section
====================================================================

***/

.clients-section {
  overflow: hidden;
}

.clients-block {
  .inner-block {
    text-align: center;
    border: 1px solid rgba(179, 181, 180, 0.141);
    border-radius: 11px;
    background-color: #0d0d0d;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   img{
	 transition: all 300ms ease;
	 opacity: 0.3;
   }

   &:hover {
	 img {
	   opacity: 1;
	 }
   }
    
  }
}
